p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

html {
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #98c0c6;
    background: rgb(0,27,48);
    background: -moz-linear-gradient(top, rgba(0,27,48,1) 0%, rgba(9,47,67,1) 11%, rgba(39,86,103,1) 22%, rgba(39,86,103,1) 22%, rgba(107,151,162,1) 42%, rgba(107,151,162,1) 42%, rgba(201,236,238,1) 72%, rgba(201,236,238,1) 99%);
    background: -webkit-linear-gradient(top, rgba(0,27,48,1) 0%,rgba(9,47,67,1) 11%,rgba(39,86,103,1) 22%,rgba(39,86,103,1) 22%,rgba(107,151,162,1) 42%,rgba(107,151,162,1) 42%,rgba(201,236,238,1) 72%,rgba(201,236,238,1) 99%);
    background: linear-gradient(to bottom, rgba(0,27,48,1) 0%,rgba(9,47,67,1) 11%,rgba(39,86,103,1) 22%,rgba(39,86,103,1) 22%,rgba(107,151,162,1) 42%,rgba(107,151,162,1) 42%,rgba(201,236,238,1) 72%,rgba(201,236,238,1) 99%);
}

body {

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-size: cover;
    background-image: url("images/resources/00_Stars_1.png");
    background-repeat: repeat;
    background-size: 40%;
}

/* LOGO GCW */

.logo-gcw {
    padding-top: 200px;
}

.logo-gcw img {
    height: 100px;
    display: block;
    margin: auto;
}

/* dodaj max-height na wrapper za desktop
@media query za visine ispod 640 mora da sadrzi override za min visinu wrappera */

.wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 640px;
}

/* MARS */

.planet.mars {
    position: relative;
    bottom: -60%;
}

/* PULSE MARS */

.status.mars {
    width: 32px;
    height: 32px;
    border-radius: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 83, 45, 1);
    box-shadow: 0 0 40px rgba(255, 83, 45, 1);
}
  
.pulse.mars {
    border-radius: 50px;
    line-height: 50px;
    width: 60px;
    height: 60px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
.pulse.mars:before,
.pulse.mars:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 83, 45, 0.2);
    border-radius: 50px;
    opacity: 0;
}
    
.pulse:before {
    transform: scale(1);
    animation: pulse 3s infinite linear;
      
}
    
.pulse:after {
    animation: pulse 3s 2s infinite linear;
}
  
  
@keyframes pulse {
    0% {
      transform: scale(0.6);
      opacity: 0;
    }
    33% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
}

/* SCROLL */

.scroll {
    position: relative;
    bottom: -80%;
    display: block;
    text-align: center;
}

.scroll p {
    padding-bottom: 1em;
}

.scroll img {
    height: 30px;
}

/* EARTH */

/* @media query mora da sadrzi override za margin-top ALI OBAVEZNO */

.planet.earth {
    margin-top: 850px;
}

/* PULSE EARTH */

.status.earth {
    width: 20px;
    height: 20px;
    border-radius: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(37, 208, 255, 1);
    box-shadow: 0 0 30px rgba(37, 208, 255, 1);
}
  
.pulse.earth {
    border-radius: 50px;
    line-height: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
.pulse.earth:before,
.pulse.earth:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(37, 208, 255, 0.2);
      border-radius: 50px;
      opacity: 0;
}
    
.pulse:before {
      transform: scale(1);
      animation: pulse 3s infinite linear;
      
}
    
.pulse:after {
      animation: pulse 3s 2s infinite linear;
}
  
  
@keyframes pulse {
    0% {
      transform: scale(0.6);
      opacity: 0;
    }
    33% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
}

/* TEXT */

.top-text {
    padding-top: 2em;
}

#text-2 {
    padding-top: 1em;
}

#text-3 {
    padding-top: 2em;
}

/* PARALLAX */

/* valjalo bi da za iPad i iPhone ipak stoji staticna slika ili da se vidi kako izgleda kada se ukloni top: npx; */

.parallax-container {

    position: relative;
    width: 100%;
    height: 1000px;

}

.object1 {
    position: absolute;
    background-image: url(images/parallax/parallax1@2x.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 1000px;
    top: -520px;
}

.object2 {
    position: absolute;
    background-image: url(images/parallax/parallax2@2x.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 1000px;
    top: -440px;
}

.object3 {
    position: absolute;
    background-image: url(images/parallax/parallax3@2x.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 1000px;
    top: -360px;
}

.object4 {
    position: absolute;
    background-image: url(images/parallax/parallax4@2x.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 1000px;
    top: -320px;
}

.object5 {
    position: absolute;
    background-image: url(images/parallax/parallax5@2x.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 1000px;
    top: -200px;
}

.object6 {
    position: absolute;
    background-image: url(images/parallax/parallax6@2x.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 1000px;
    top: -140px;
}

.object7 {
    position: absolute;
    background-image: url(images/parallax/parallax7@2x.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 1000px;
}

.object8 {
    position: absolute;
    background-image: url(images/parallax/parallax8@2x.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 1000px;
}

.bottom {
    background-color: #194b60;
    position: relative;
    z-index: 1;
    background-image: url("images/resources/00_Stars_1.png");
}

.text-block {
    padding-top: 2em;
}

#text-4 {
    padding-top: 4em;
    line-height: 2em;
}

#text-5 {
    padding-top: 1em;
}

#text-6 {
    padding-top: 4em;
    line-height: 2em;
}

/* YOUTUBE */

.youtube.container {
    width: 100%;
    max-width: 800px;
    padding: 100px 0 56px;
    margin: auto;
}
  
.video-wrapper {
    position: relative;
    padding-bottom: 56.1%;
    height: 0;
    overflow: hidden;
}
  
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* BADGES */

.apple {
    width: 600px;
    margin: 0 auto 40px;
}
  
.app-store {
    float: left;
    margin-left: 25%;
}
  
.itunes {
    position: relative;
    margin-right: 25%;
    float: right;
}

/* MUSIC LINKS */

.section.music {
    width: 480px;
    height: 100px;
    margin: auto;
    clear: both;
}
  
.link a {
    width: auto;
    height: 32px;
}
  
.bandcamp {
    float: left;
    margin-left: 0%;
    padding-top: 48px;
}
  
.spotify {
    float: left;
    margin-left: 16%;
    padding-top: 48px;
}
  
.deezer {
    margin-left: 0%;
    float: right;
    padding-top: 48px;
}

/* DESCRIPTION */

.divider {
    height: 2px;
    width: 120px;
    background-color: #fff;
    margin: auto;
}
  
.description {
    padding: 6em;
    text-align: center;
    text-transform: uppercase;
}
  
#text-7 {
    padding: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.6em;
}

/* REVIEWS */

.reviews {
    padding-bottom: 88px;
}
  
.headline {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 600;
    padding-bottom: 56px;
    letter-spacing: 0.04em;
}
  
.review {
    padding-bottom: 32px;
}
  
.quote {
    font-style: italic;
    padding: 1em;
}
  
.source {
    font-weight: 600;
}

/* AWARDS */

.awards {
    padding-bottom: 32px;
}
  
.award-list {
    line-height: 2.4em;
    font-style: italic;
    padding: 1em;
    background-image: url("images/resources/laurel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 90%;
    background-size: auto 192px;
}

/* YOUTUBE 2 */

.youtube.container.video {
    width: 100%;
    max-width: 800px;
    padding: 100px 0 140px;
    margin: auto;
}

/* BUTTON */

.presskit {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 1.4em 2.4em 1.3em 2.4em;
    border: 1px solid #fff;
    width: 280px;
    margin: auto;
    border-radius: 60px;
    box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.2);
    opacity: 0.8;
    transition: 0.3s;
    color: white;
    text-decoration: none;
}
  
.presskit:hover {
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.4);
    opacity: 1;
}
  
.download a {
    text-decoration: none;
    color: #fff;
}

/* DEMAGOG STUDIO */

.logo.studio {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: auto;
}
  
.logo.studio img {
    padding-top: 120px;
    height: 28px;
}

/* SECTION SOCIAL */

.section.social {
    padding-top: 40px;
    padding-left: 24px;
}
  
.section.social img {
    width: 32px;
    height: 32px;
    padding-right: 24px;
}
  
.section.social a {
    text-decoration: none;
}